*{
    margin:0px;
    border: 0px;
    font-family: sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;    
    justify-content: center;
    align-items: center;
}
.blc{
    color:white;
    width:600px;
    display: flex;
    flex-direction: column;
}
h1{
    align-self: center;
    font-size: 70px;
    margin: 20px;
    transition: all 0.5s;
}
button{
    height: 40px;
    width: 80px;
    align-self: center;
    margin: 20px;
    background-color: rgb(254, 104, 104);
    font-size: 15px;
    color:white;
    font-size: large;
}
.bcc{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.296);
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -999;
}
h1:hover{
    -webkit-text-stroke: 2px white;
    color:transparent
}
button:hover{
    background-color: rgb(90, 203, 252);
}
.bcc .sinup{
    width:350px;
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 50px;
}
.bc{
    display: none;
}
input{
    border: 1px solid black;
    margin: 5px;
    width: 300px;
    height: 30px;
}
#sin{
    align-self: center;
    margin-top: 40px;
}
#x{
    background-color: black;
    height: 50px;
    width: 50px;
    font-weight: bold;
    position: absolute;
    top:0;
    right: 0;
    border: 3px solid black;
    transition: all 0.3s;
}
#x:hover{
    background-color: transparent;
    color:black
}