*{
    margin:0px;
    border:0px;
}
body{
    background:linear-gradient(to bottom right,black,rgb(69, 69, 69),grey,white);
    height:100vh;
    width:100%;
}
nav{
    background-color: rgb(72, 71, 71);
    color:white;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.block{
    height:calc(100vh - 50px);
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blc{
    width: 400px;
    height:450px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.wrt{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 300px;
    align-items: center;
    height: 375px;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.487);
    transition: 1s;
    transform: translateY(2rem);
    transition: 1s;
    opacity: 0;
    visibility: hidden;
}
.blc1,.blc2{
    width: 400px;
    height:450px;
    background-color: white;
    position:absolute;
    z-index: -1;
    transition: 1s;
    
}
   

img{
    width: 300px;
}
.blc:hover .wrt{
    opacity: 100;
    transform: translate(0);
    visibility: visible;
}
.blc:hover+.blc1{
    transform: rotate(20deg);
    
}
.blc:hover+.blc1+.blc2{
    transform: rotate(10deg);
    
}