*{
    margin: 0px;
    border:0px;
}
body{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}
nav{
    height:100%;
    width:100%;
    color:rgb(0, 0, 0);
    background-color: rgb(10, 169, 237);
    display: flex;
    justify-content: center;
}
section{
    align-self: center;
    top:20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 150px;
    background-color: aliceblue;
    position: relative;
    box-shadow: 2px 2px 4px;
    border:20px solid aliceblue;
    border-radius: 10px;
    
input{
    border: 1px solid black;
    margin: 5px;
}
.btn{
    display: flex;;
    width:200px;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
}
.output{
    background-color: rgb(255, 255, 255);
    color:rgb(57, 169, 214);
    margin: 5px;
    height:20px;
    width: 50px;
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    justify-content: center;
}
.bn{
    background-color: aquamarine;
}